.theater__chat {
    display: grid;
    grid-template-areas:
        "nicks"
        "messages"
        "typing"
        "chatbox";
}

.typing {
    overflow: hidden;
    text-overflow: ellipsis;
    visibility: visible;
    opacity: 1;
    transition: 0.2s opacity;
}

.typing--empty {
    visibility: hidden;
    opacity: 0;
}
